<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.canteen.mapper.OrderMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO orders (order_no, user_id, canteen_id, total_amount, payment_method, order_status)
        VALUES (#{orderNo}, #{userId}, #{canteenId}, #{totalAmount}, #{paymentMethod}, #{orderStatus})
    </insert>

    <update id="updateStatus">
        UPDATE orders 
        SET order_status = #{status}
        <if test="paidAt != null">
            , paid_at = #{paidAt}
        </if>
        WHERE id = #{id}
    </update>

    <select id="findById" resultType="com.me.canteen.entity.Order">
        SELECT * FROM orders WHERE id = #{id}
    </select>
</mapper>
