<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.canteen.mapper.PickupQrCodeMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO pickup_qr_codes (qr_token, user_id, order_id, reservation_id, qr_status, expires_at)
        VALUES (#{qrToken}, #{userId}, #{orderId}, #{reservationId}, #{qrStatus}, #{expiresAt})
    </insert>

    <select id="findByToken" resultType="com.me.canteen.entity.PickupQrCode">
        SELECT * FROM pickup_qr_codes WHERE qr_token = #{token}
    </select>

    <update id="updateStatus">
        UPDATE pickup_qr_codes 
        SET qr_status = #{status}
        <if test="usedAt != null">
            , used_at = #{usedAt}
        </if>
        WHERE id = #{id}
    </update>
</mapper>
