<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.me.canteen.mapper.QrScanLogMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO qr_scan_logs (qr_code_id, operator_id, scan_result)
        VALUES (#{qrCodeId}, #{operatorId}, #{scanResult})
    </insert>
</mapper>
